__pycache__/
.vscode/
.env
dist/valorant-ingame-twitch-chat.exe
build/
output/
src/__pycache__/
valorant-ingame-twitch-chat.toml
valorant-ingame-twitch-chat.egg-info/
valorant-ingame-twitch-chat/__pycache__
valorant-ingame-twitch-chat.spec